# SPDX-FileCopyrightText: 2026 Kerstin Humm <kerstin@erictapen.name>
#
# SPDX-License-Identifier: GPL-3.0-or-later

dist/
*.json
!crate-hashes.json
result*
.pre-commit-config.yaml
# assets/ is only intended for development, as it contains fonts
assets/
todo
